<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Mark the camera as optional, as the back camera is missing from some ChromeOS devices -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- Normal permissions, access automatically granted to app -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RUN_USER_INITIATED_JOBS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />
    <uses-permission android:name="android.permission.CAMERA" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="org.telegram.messenger" />
    </queries>

    <application
        android:name=".WooCommerce"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/backup_scheme"
        android:fullBackupContent="@xml/legacy_backup_scheme"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:localeConfig="@xml/locales_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Woo.DayNight"
        tools:ignore="UnusedAttribute">

        <!-- TODO: we eventually want to drop support for Apache, but for now it's used by FluxC -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Woo.Splash"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />

                <data android:host="woocommerce.com" />

                <data android:path="/mobile/orders/details" />
                <data android:path="/mobile/payments" />
                <data android:path="/mobile/payments/tap-to-pay" />
                <data android:pathPrefix="/products/hardware/" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="woocommerce" />
                <data android:host="jetpack-connected" />
                <data android:host="app-login" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.MagicLinkInterceptActivity"
            android:exported="true"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="magic-login"
                    android:scheme="woocommerce" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.prefs.AppSettingsActivity"
            android:theme="@style/Theme.Woo.DayNight" />
        <activity
            android:name=".ui.prefs.UnifiedAboutScreenActivity"
            android:theme="@style/Theme.Woo.UnifiedAbout" />
        <activity
            android:name=".support.WooLogViewerActivity"
            android:label="@string/logviewer_activity_title"
            android:theme="@style/Theme.Woo.DayNight" />
        <activity
            android:name=".support.SSRActivity"
            android:label="@string/support_system_status_report"
            android:theme="@style/Theme.Woo.DayNight" />
        <activity
            android:name=".support.requests.SupportRequestFormActivity"
            android:label="@string/support_request"
            android:theme="@style/Theme.Woo.DayNight" />
        <activity
            android:name=".support.help.HelpActivity"
            android:label="@string/support_help"
            android:theme="@style/Theme.Woo.DayNight" />
        <activity
            android:name="zendesk.support.guide.HelpCenterActivity"
            android:theme="@style/Theme.Woo.DayNight.Zendesk" />
        <activity
            android:name="zendesk.support.guide.ViewArticleActivity"
            android:theme="@style/Theme.Woo.DayNight.Zendesk" />
        <activity
            android:name="zendesk.support.request.RequestActivity"
            android:theme="@style/Theme.Woo.DayNight.Zendesk" />
        <activity
            android:name="zendesk.support.requestlist.RequestListActivity"
            android:theme="@style/Theme.Woo.DayNight.Zendesk" />
        <activity
            android:name="org.wordpress.android.mediapicker.ui.MediaPickerActivity"
            android:theme="@style/Theme.Woo.DayNight" />
        <!--        Make sure portrait screen orientation is not required for the installation of the app -->
        <activity
            android:name="com.google.mlkit.vision.codescanner.internal.GmsBarcodeScanningDelegateActivity"
            android:screenOrientation="unspecified"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.woocommerce.android.ui.woopos.root.WooPosActivity"
            android:exported="false" />
        <activity
            android:name="com.woocommerce.android.ui.woopos.cardreader.WooPosCardReaderActivity"
            android:theme="@style/Theme.Woo.Transparent" />

        <!-- Stats today app widget -->
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/stats_today_widget_info" />
        <receiver
            android:name=".ui.appwidgets.stats.today.TodayStatsWidgetProvider"
            android:exported="false"
            android:label="@string/today">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stats_today_widget_info" />
        </receiver>

        <!-- Services -->
        <service
            android:name=".notifications.push.FCMMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.NotificationsProcessingService"
            android:exported="false"
            android:label="Notifications Quick Actions processing Service" />
        <service
            android:name="org.wordpress.android.login.LoginWpcomService"
            android:exported="false"
            android:label="Login to WPCOM Service" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".media.ProductImagesService"
            android:exported="false" />

        <service
            android:name=".media.ProductImagesJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- Provider for exposing file URIs on Android 7+ (required for camera) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui,ocr" />

        <meta-data
            android:name="io.sentry.traces.activity.enable"
            android:value="false" />

        <!-- Trigger Google Play services to install the backported photo picker module. -->
        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data
                android:name="photopicker_activity:0:required"
                android:value="" />
        </service>

        <service
            android:name=".wear.WearableConnectionService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/request-site"
                    android:scheme="wear" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/request-stats"
                    android:scheme="wear" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/request-orders"
                    android:scheme="wear" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/request-order-products"
                    android:scheme="wear" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:host="*"
                    android:pathPrefix="/analytics-data"
                    android:scheme="wear" />
            </intent-filter>
        </service>

    </application>

</manifest>
