<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.woocommerce.android">

    <application
        android:name=".WooCommerceRelease"
        tools:replace="android:name" />
</manifest>
