<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.woocommerce.android">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"
        tools:node="remove" />

    <application
        android:name=".WooCommerceRelease"
        tools:replace="android:name">

        <meta-data
            android:name="com.google.android.play.billingclient.version"
            tools:node="remove" />

        <activity
            android:name="com.android.billingclient.api.ProxyBillingActivity"
            tools:ignore="MissingClass"
            tools:node="remove" />

    </application>

    <uses-permission
        android:name="com.android.vending.BILLING"
        tools:node="remove" />
</manifest>
