# All files in repository
* @woocommerce/android-developers

# Build tools
/.buildkite/        @woocommerce/owl-team
/.bundle/           @woocommerce/owl-team
/.circleci/         @woocommerce/owl-team
/.configure-files/  @woocommerce/owl-team
/.github/           @woocommerce/owl-team
/fastlane/          @woocommerce/owl-team
/gradle/            @woocommerce/owl-team
/tools/             @woocommerce/owl-team
.configure          @woocommerce/owl-team
.ruby-version       @woocommerce/owl-team
Gemfile             @woocommerce/owl-team
Gemfile.lock        @woocommerce/owl-team
settings.gradle     @woocommerce/owl-team
gradlew             @woocommerce/owl-team
gradlew.bat         @woocommerce/owl-team
