version: 2
updates:
  - package-ecosystem: "gradle"
    open-pull-requests-limit: 5
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "bot: dependencies update"
    reviewers:
      - "woocommerce/android-developers"
    ignore:
      # The Android Gradle Plugin is a dependency we'd like to have in sync with other
      # in-house libraries due to compatibility with composite build.
      - dependency-name: "com.android.tools.build:gradle"
      # Bumping 2.26.3 to 2.27.2 will break the mocks. For more details, see
      # https://github.com/wiremock/wiremock/issues/1345#issuecomment-656060968
      - dependency-name: "com.github.tomakehurst:wiremock"
