RELEASE-NOTES.txt merge=union

#########################################
# Secrets files encrypted with git-crypt
#########################################

secrets.properties filter=git-crypt diff=git-crypt
sentry.properties filter=git-crypt diff=git-crypt
google-services.json filter=git-crypt diff=git-crypt
firebase.secrets.json filter=git-crypt diff=git-crypt
google-upload-credentials.json filter=git-crypt diff=git-crypt
*.keystore filter=git-crypt diff=git-crypt
*.jks filter=git-crypt diff=git-crypt
