RELEASE-NOTES.txt merge=union

#########################################
# Secrets files encrypted with git-crypt
#########################################

secrets.properties filter=git-crypt diff=git-crypt
