RELEASE-NOTES.txt merge=union

#########################################
# Secrets files encrypted with git-conceal
#########################################

secrets.properties filter=git-conceal diff=git-conceal
sentry.properties filter=git-conceal diff=git-conceal
google-services.json filter=git-conceal diff=git-conceal
firebase.secrets.json filter=git-conceal diff=git-conceal
google-upload-credentials.json filter=git-conceal diff=git-conceal
*.keystore filter=git-conceal diff=git-conceal
*.jks filter=git-conceal diff=git-conceal
