/WooCommerce/src/androidTest/ @woocommerce/mobile-ui-testing-squad

# Dependabot
/gradle/libs.versions.toml @woocommerce/android-developers
Gemfile*       @woocommerce/apps-infra-tooling
.ruby-version  @woocommerce/apps-infra-tooling
.bundle/       @woocommerce/apps-infra-tooling
.rubocop*.yml  @woocommerce/apps-infra-tooling
fastlane/      @woocommerce/apps-infra-tooling

# CI and automation
.buildkite/            @woocommerce/apps-infra-tooling
.github/workflows/     @woocommerce/apps-infra-tooling
.github/dependabot.yml @woocommerce/apps-infra-tooling
Dangerfile*            @woocommerce/apps-infra-tooling

# Toolchain and environment pins
.java-version          @woocommerce/apps-infra-tooling

# Secrets
.configure-files/     @woocommerce/apps-infra-tooling
