<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woocommerce.android.iapshowcase">

    <application>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight"
            android:name="com.woocommerce.android.iapshowcase.IAPShowcaseActivity"
            android:exported="true" />
    </application>
</manifest>
