<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.woocommerce.android.barcode">

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <dist:module
        dist:instant="false"
        dist:title="@string/title_barcode">
        <dist:delivery>
<!--            <dist:install-time />-->
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>
