<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <!-- Restricts scan to specific extensions.           -->
    <!-- See http://checkstyle.sf.net/config.html#Checker -->
    <property name="fileExtensions" value="kt"/>

    <!-- Miscellaneous other checks.                   -->
    <!-- See http://checkstyle.sf.net/config_misc.html -->
    <module name="RegexpMultiline">
      <property name="format"
                value="(\n|\r\n)[\t ]*(\n|\r\n)[\t ]*\}"/>
      <property name="message" value="Empty line not allowed before brace"/>
    </module>

    <module name="RegexpMultiline">
      <property name="format"
                value="\{[\t ]*(\n|\r\n)[\t ]*(\n|\r\n)"/>
      <property name="message" value="Empty line not allowed after brace"/>
    </module>

    <module name="RegexpSingleline">
        <property name="format" value="[^\S\r\n]@[\S]*(\([{]?\&quot;.*\&quot;[}]?\)++|\([^\&quot;]*\)++)[^ \t]"/>
        <property name="message" value="In-line annotations must be followed by one whitespace"/>
        <property name="severity" value="error"/>
    </module>

    <module name="RegexpSingleline">
        <property name="format" value="^(?!.*\bimport\b).*Store\.[A-Z][A-Za-z0-9]*[ );]"/>
        <property name="message" value="Specific imports should be used for FluxC Store inner classes"/>
        <property name="severity" value="error"/>
    </module>

    <module name="RegexpMultiline">
        <property name="format" value="@Inject(\n|\r\n).*[^{,(]$"/>
        <property name="message" value="Inject annotation should be in-line with the annotated field or property"/>
    </module>

    <module name="RegexpSingleline">
        <property name="format" value="^(?!.*\bclass\b).*\S.*@Inject"/>
        <property name="message" value="In-line inject annotation should precede the rest of the declaration"/>
    </module>

</module>
