<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Allows unlocking your device and activating its screen so UI tests can succeed -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Allows for storing and retrieving screenshots -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Allows changing locales -->
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />

    <!-- Clean the status bar for screenshots automation
    See https://docs.fastlane.tools/actions/screengrab/#clean-status-bar -->
    <!-- Indicates the use of the clean status bar feature -->
    <uses-feature android:name="tools.fastlane.screengrab.cleanstatusbar" />
    <!-- Allows for changing the status bar -->
    <uses-permission
        android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".WooCommerceDebug"
        tools:replace="android:name">
        <provider
            android:enabled="@bool/enable_leak_canary"
            android:name=".LeakCanaryInstaller"
            android:authorities="${applicationId}.leakcanary-installer"
            android:exported="false" />

        <activity
            android:name="com.woocommerce.android.iapshowcase.IAPShowcaseActivity"
            android:exported="true"
            android:theme="@style/Theme.Woo" />

        <activity
            android:name="com.woocommerce.android.ui.woopos.root.WooPosActivity"
            android:exported="true"
            tools:replace="android:exported" />

    </application>

</manifest>
